<% content_for :title do %>Update <%= @website.url %><% end %>
<div class="form_placement">
<% form_for(@website) do |f| %>
  <div class="login">
  <h1>Update <%= @website.url %></h1>
    <div class="form_container">
      <div class="element">
        <%= f.error_messages %>
        <%= f.label :url %>
        <div class="round-border">
          <div class="round">
            <%= f.text_field :url %>
          </div>
        </div>
        <div class="clear"><!-- / --></div>
      </div>
      <div class="clear"><!-- / --></div>
    </div>
    <div class="element bottom_submit">
        <div class="gbtrack_icon left"><!-- / --></div>
        <%= f.submit "Update" %>
        <div class="clear"><!-- / --></div>
      </div>
      <div class="clear"><!-- / --></div>
</div>
<% end %>
</div>