<% content_for :head do %>
<% end %>
<h1>Listing websites</h1>

<div id="placeholder" style="height: 400px; width:600px"></div>

<table>
  <tr>
  <th>Date</th>
    <th>Url</th>
    <th>Last Count</th>
  </tr>

<% @websites.each do |website| %>
  <tr>
    <td><%=h website.counts.last.nil? ? "na" : website.counts.last.created_at.strftime("%d/%m/%y") %></td>
    <td><%= link_to h(website.url), website %></td>
    <td><%=h website.counts.last.nil? ? "na" : website.counts.last.count %></td>
    <td><%= link_to 'Edit', edit_website_path(website) %></td>
    <td><%= link_to 'Remove', website, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<script type="text/javascript">
$(document).ready(function(){
      $.plot($("#placeholder"), [
         <% @websites.each_with_index do |website, i| %>
         { label: "<%= website.url %>", data: [ <%=website.counts.from_date(1.month.ago).collect{|count| "[#{count.created_at.to_i*1000}, #{count.count}]"}.join(",") %>]} <%= "," unless i == @websites.size%>
         <% end %>
      ], {xaxis:{mode: "time"}} );
});
</script>
