<% content_for :head do %>Your Websites<% end %>
<div class="notes" style="margin-bottom:20px;">
  <p>Google Index Count as of <%= @period.to_s %>. (<%= @period.days %> days ago)</p>
  <i>This is an approximation of how many pages of each website is contained in Google's index</i>
  <div class="gbtrack_icon right"><!-- / --></div>
  <div class="clear"><!-- / --></div>
</div>
<div class="placeholder round" style="margin-bottom:10px;">
  <div style="background: #FFF; padding: 10px;">
    <div id="placeholder"></div>
  </div>
</div>
<div class='clear'><!-- / --> </div>
<div class="round" style="width: 710px; padding: 10px; margin-left: 10px;">
<% @websites.each_with_index do |website, i| %>
  <div class="listing round_plain<%= " highlighted" if i % 2 == 1%>">
    <div class="url"><%= link_to h(website.url), website %></div>
    <div class="count"><%=h website.counts.last.nil? ? "na" : website.counts.last.count %></div>
    <div class='clear'><!-- / --> </div>
  </div>
<% end %>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $.plot($("#placeholder"), [
  <% @websites.each_with_index do |website, i| %>
    { label: "<%= website.url %>", data: [ <%=website.counts.from_date(@period.to_date).collect{|count| "[#{count.created_at.to_i*1000}, #{count.count}]"}.join(",") %>]} <%= "," unless i == @websites.size%>
  <% end %>
  ], {xaxis:{mode: "time"}} );
});
</script>
