<% content_for :head do %>
<script type="text/javascript">
swfobject.embedSWF("<%= graph_swf_path %>", "website_graph", "1024", "200",
"9.0.0", "expressInstall.swf",
{"data-file":"<%= websites_graph_path %>.json"} );
</script>
<% end %>
<h1>Listing websites</h1>

<div id="website_graph">
			<h1>Flash Player Not Installed</h1>
			<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
</div>

<table>
  <tr>
    <th>Url</th>
    <th>Last Count</th>
    <th>Last Count At</th>
  </tr>

<% @websites.each do |website| %>
  <tr>
    <td><%=h website.url %></td>
    <td><%=h website.counts.last.nil? ? "na" : website.counts.last.count %></td>
    <td><%=h website.counts.last.nil? ? "na" : website.counts.last.created_at %></td>
    <td><%= link_to 'Show', website %></td>
    <td><%= link_to 'Edit', edit_website_path(website) %></td>
    <td><%= link_to 'Destroy', website, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New website', new_website_path %>
