<% content_for :title do %>Update My Details<% end %>
<% form_for @user, :url => account_path do |f| %>
  <div class="form_top"><!-- / --></div>
  <div class="form_middle">
    <h1>Update My Details</h1>
    <%= render :partial => "form", :locals => {:f => f} %>
    <div class="element" style="margin-top: 30px;">
      <div class="gbtrack_icon left"><!-- / --></div>
      <div class="left">
        <p class="notes" style="background:none;margin:0;">Make sure to use your new email address to login if you change it.</p>
      </div>
      <%= f.submit "Update" %>
      <div class="clear"><!-- / --></div>
    </div>
    <div class="clear"><!-- / --></div>
  </div>
  <div class="form_bottom"><!-- / --></div>
<% end %>
<p class="notes">Last login was from <span class="light_red"><%= current_user.last_login_ip %></span> at <span class="light_red"><%= current_user.last_login_at.strftime("%d %b, %A") %></span> <span class="small">(<%= time_ago_in_words current_user.last_login_at %> ago)</span></p>
