<h1>Login</h1>
 
<% form_for @user_session, :url => user_session_path do |f| %>
<div class="round-border" style="width: 470px">
  <div class="round" style="width: 450px; padding:10px;">
    <div class="form_container">
      <div class="element">
        <%= f.error_messages %>
        <%= f.label :email %>
        <div class="round-border">
          <div class="round">
            <%= f.text_field :email %>
          </div>
        </div>
      </div>
      <div class="element">
        <%= f.label :password %>
      <div class="round-border">
          <div class="round">
            <%= f.password_field :password %>
          </div>
        </div>
      </div>
      <div class="element">
        <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
      </div>
      <div class="element">
        <%= f.submit "Login" %>
      </div>
    </div>
  </div>
</div>
<% end %>
