<% if current_user %>
  <div class="nav_action round_plain">
     <%= link_to "Dashboard", websites_path %>
  </div>
  <div class="nav_action round_plain">
     <%= link_to 'My Details', edit_account_path %>
  </div>
  <div class="round" style="width: 180px; padding: 5px; margin-left: 5px;">
  <% @websites.each_with_index do |website, i| %>
    <div class="listing round_plain<%= " highlighted" if i % 2 == 0 %><%= " selected"if @website && @website == website%>">
      <div class="url"><%= link_to h(website.url), website %></div>
      <% if @website && @website == website%>
        <div class="right"><%= link_to 'Edit', edit_website_path(website) %></div>
      <% end %>
      <div class='clear'><!-- / --></div>
    </div>
  <% end %>
  </div>
      <div class='clear'><!-- / --></div>
  <div class="nav_action round_plain">
     <%= link_to 'Track another website', new_website_path %>
  </div>
<% end %>
