<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>GIndex - <%= yield :title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'swfobject' %>
  <%= yield :head %>
</head>
<body>
<div style="float:right"><%= link_to "Logout", logout_path unless current_user.nil?%></div>
<p style="color: green"><%= flash[:notice] %></p>
  
<% unless current_user.nil? %>
  <div style="float:left;width:200px">
  <%= render :partial => 'common/account' %>
</div>  
<% end %>
<div style="float:left">
  <%= yield %>
</div>

</body>
</html>
